body {
	font-family: Courier;
	color: white;
}

input {
	background-color: black;
}

button {
	background-color: black;
}

.itemTyle{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	border: solid black;
	border-radius: 5px;
	background-color: rgba(25,25,25,0.8);
	padding: 10px;
	width: 500px;
	height: auto;
}

.itemTyle:hover {
	background-color: rgba(100,100,100,0.5);
}

.pannelButton2 {
	float: left; 
	width: 33.33%; 
	margin-bottom: 40px;
	background-color: rgba(25,25,25,1);
}

.pannelButton2:hover {
	background-color: rgba(100,100,100,0.8);
}

.pannelButton {
	float: left; 
	width: 50%; 
	margin-bottom: 40px;
	background-color: rgba(25,25,25,1);
}

.pannelButton:hover {
	background-color: rgba(100,100,100,0.8);
}

.title-text{
	text-align: center;
	background-color: rgba(25,25,25,1);
	margin: 0px;
	padding: 15px;
}

#OrderView, #CurrentOrders, #RestaurantView, #Settings  {
	border: solid black;
	border-radius: 5px;
	background-color: rgba(25,25,25,0.8);
	height: auto;
	overflow: auto;
	padding: 20px; 	
}

#Order {
	border: solid black;
	border-radius: 5px;
	background-color: rgba(25,25,25,0.8);
	height: auto;
	overflow: auto;
	padding: 20px; 	
}

#MenuArea{
	background-color: black;
	float: left;
	width: 30vw;
	margin-left: 35vw;
	padding: 2px 10px 5px 5px;
	border: solid white;
}


#cart{
	float: left;
	width: 20vw;
	margin-left: 10vw;
	padding: 10px;
}

.item{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.item:hover {
	color: lightgrey;
	cursor: pointer;
}

.itemclickable{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

