body {
	font-family: Courier;
}

.title {
	text-align: center;
	font-style: bold;
	font-size: 70px;
	color: black;
}

.loginButton {
	height:400px; 
	width:30%;
	float: left; 
	margin: 1.66%;
	border-radius: 100px;
	color: black;
	font-style: bold;
	background-color: rgba(255,255,255,0.2);
	background-blend-mode: screen;
	text-align: bottom;
	border-style: solid;
}

.loginButton:hover {
	background-color: rgba(255,255,255,0);
	color: white;
}

.button-text {
	text-align: center;
	margin-top: 50%;
}

.account-creation {
	margin-left: 20%;
}
