body {
	
}

.title {
	text-align: center;
	font-style: bold;
	font-size: 70px;
	color: black;
}

.loginButton {
	height:400px; 
	width:33.333%;
	float: left; 
	margin: 0%;
	border-radius: 0px;
	color: black;
	background-color: rgba(255,255,255,0.5);
	background-blend-mode: screen;
	text-align: bottom;
	border-style: solid;
}

.loginButton:hover {
	background-color: rgba(255,255,255,0);
	color: white;
}

.button-text {
	text-align: center;
	margin-top: 50%;
}

.account-creation {
	margin-left: 20%;
}
