html{
	min-height: 100%;
	background-color: #aeccc8 !important;
}

body{
  margin: 0px;
  height: 100%;
  background-color: #aeccc8;
}

button {
	margin: 5px;
}


#pageBanner {
  background-color: #00d1b2;
  height: 200px;
  width: 100%;
}

#header {
  position: relative;
}

#postCodeEnterArea {
  box-shadow: 0px 7px 3px 2px rgb(100, 100, 100, 0.8);
  position: relative;
  top: -100px;

}

#Homepage-Content {

}

#postCodeEnterArea {
  max-width: 85%;

}

#pageContent {
	padding: 0px 20px 0px 20px;
}

.less-wide {
	width: 70%;
	max-width: 70%;
	margin-left: 20px;
}

.to-left {
	padding-top: 5px;
}

.add-seperator {
	padding-bottom: 10px;
	border-bottom: 1px dashed #aeaeae;
}

.product {
	border-top: 1px dashed #aeaeae;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.deetails {
	right:0px;
	position: absolute;
}

.middle {
	position: relative;
	top: -100px;
}

.trollyItem {
	border-top: 1px solid #aeaeae;
}

.deliveryRadio {
	padding: 10px 20px 30px 20px;

}

.paymentArea {
	border-top: 1px solid #aeaeae;	
}

.isnt-wide {
	max-width: 80px;
}


.menuStagingPrices {
	max-width: 100px;
}

.itemAddButton {
	float:right; 
	position: relative; 
	top: -13px;
}

.price {
	float: right; 
	margin-right: 10px
}

.subtitle {
	margin-bottom: 5px;
}

.table tr {
	border-bottom: solid darkgrey;
}